.ant-list-item-meta-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
}
.list-item {
  transition: background-color 0.3s ease-in-out;
  background-color: white;
}
.list-item:hover {
  background-color: #f5f5f5;
}
.ant-btn:hover {
  color: black !important;
  border-color: green !important;
}

.scrollable::-webkit-scrollbar {
  display: none; /* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
}
