.total-assets h3 {
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-left: 0;
}

.total-assets h3::after {
  content: "";
  position: absolute;
  bottom: 0px; /* h3 텍스트 바로 아래 위치 */
  left: 0;
  width: 0; /* 기본적으로 보이지 않음 */
  height: 2px; /* 밑줄 두께 */
  background-color: black; /* 밑줄 색상 */
  transition: width 0.3s ease-in-out;
}

/* exchange-tab에 마우스 오버되었을 때 h3의 가상 요소 스타일 변경 */
.total-assets:hover h3::after {
  width: 14%; /* 밑줄 전체 길이로 확장 */
}

.asset-summary-container {
  max-width: 55%;
  margin: 20px;
  margin-bottom: 0px;
  padding: 20px;
  border-radius: 20px;
  /* border: 2px solid #ababab; */
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
}

.asset-card {
  padding: 15px;
  padding-top: 0;
}

.asset-item {
  display: flex;
  justify-content: space-between;
}
.ant-card-head {
  border-bottom: 0 !important;
}
.asset-label {
  font-weight: 500;
  color: #555;
}

.asset-value {
  font-weight: 700;
  color: #222;
}
.profit-loss-rate-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profit-loss-rate {
  font-weight: 700;
}
.ant-card-body {
  padding: 0 !important;
  padding-bottom: 20px !important;
}
